<section class="section-vision anchor-wrapper">
<div id="anchor"></div>
<div class="wrapper">
<p class="title-3">SỨ MỆNH</p>
<h2 class="title-2 white">Make it awesome – Làm cho thế giới hào hứng</h2>
<p class="desc">Với lý tưởng chung tay xây dựng nên một tương lai tốt đẹp và tươi sáng, sứ mệnh của Framgia là luôn cố gắng tạo ra những trải nghiệm thú vị khiến người ta phải thốt lên rằng “Awesome!” (Thật tuyệt vời), hoặc “Wow” hay “Crazy” (Thật không thể tin được)</p>
</div>
</section>